{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
  <div class="contenedor-principal">
    <h1>{{ title }}</h1>
    {% if show_new_post %}
      <div class="contenedor-post" id="new-edit-container">
        <h1 id="new-or-edit-title">New Post</h1>
        <form id="post-form" action="{% url 'new_post' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <textarea id="text-area" class="form-control" style="height: 100px; margin-top: 12px;" name="text"
              placeholder="Write here"></textarea>
          </div>
          <input type="hidden" name="userid" value="{{ user.id }}">
          <input id="save-button" class="btn btn-primary" type="submit" value="Post">
        </form>
      </div>
    {% endif %}
    <div class="contenedor-lista-posts">
      {% for post in posts %}
        <div class="contenedor-post-anterior">
          <div class="contenedor-usuario-post">
            <a id="prueba" href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a>
          </div>
          {% if user.id == post.user.id %}
          <div class="contenedor-edit">
            <a href="{% url 'index' %}" onclick="return false;">Edit</a>
          </div>
          {% endif %}
          <div class="contenedor-text-post">
            {{ post.text }} <br>
            {{ post.date_creation }} <br>
            {{ post.id }}
            <input type="hidden" class="post_id_list" value="{{ post.id }}">
        </div>
        <div class="contenedor-likes">likes 0</div>
        <div class="contenedor-comments-post">
          comments
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item"><span class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</span></li>
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}">last</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    
  </div>

{% endif %}
</div>

{% endblock %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {

  // document.querySelector('#edit-post-link').addEventListener('click', () => edit_post());
  edit_list = document.querySelectorAll('.contenedor-edit');

  for (let i = 0; i < edit_list.length; i++) {
    edit_list[i].addEventListener('click', () => edit_post(i));
  }
  // document.querySelector('#new-or-edit-title').style.display = 'none';
  // document.querySelector('#edit-post-link').style.display = 'block';

  })

  function edit_post(i) {
    document.querySelector('#new-or-edit-title').innerHTML = 'Edit Post'
    id_list = document.querySelectorAll('.post_id_list')
    post_id = id_list[i].value
    console.log(post_id)
    fetch(`/network/${post_id}`)
      .then(response => response.json())
      .then(post => {
        // Print email
        console.log(post);
        document.querySelector('#text-area').innerHTML = post.text
        document.querySelector('#save-button').value = 'Save' 
        document.querySelector('#post-form').action = `http://127.0.0.1:8000/update_post/${post_id}`
      });
    document.querySelector('#text-area').focus();
  }


</script>
{% endblock %}