{% extends "network/layout.html" %}
{% load static %}
<!-- https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg -->
<!-- https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909__340.jpg -->
{% block body %}
{% if user.is_authenticated %}
<div class="marco">
  <div class="contenedor-encabezado">
    <div class="contenedor-foto">
    </div>
    <div class="contenedor-banner">
    </div>
  </div>

  <div class="contenedor-cuerpo">
    <div class="contenedor-datos-usuario">
      @{{ user.username }} <br>
      Joined {{ month }} {{ year }} <br>
      <div class="contenedor-follow">
        <span><strong>{{ following }}</strong> Following</span>
        <span><strong id="followers">{{ followers }}</strong> Followers</span>
      </div>
    </div>
    <input type="hidden" value="{{ user.id }}" id="user-id">
    <div class="contenedor-boton">
      {% if user.id == login_user.id %}
      <button type="button" class="btn btn-outline-primary change-image" id="change-image">Change image</button>
      {% else %}
      <div class="contenedor-follow">
        <button type="button" id="follow-unfollow" class="btn btn-outline-primary">{{ option }}</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="contenedor-lista-posts">
  <div class="contenedor-lista-posts">
    {% for post in posts %}
    <div class="contenedor-post-anterior">
      <div class="contenedor-usuario-post">
        <a id="prueba" href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a>
      </div>
      <div class="contenedor-text-post">
        {{ post.text }} <br>
        {{ post.date_creation }} <br>
        <input type="hidden" class="post_id_list" value="{{ post.id }}">
      </div>
      <div class="contenedor-likes">
        {% if post.id in posts_con_like %}
        <span class="like-button">❤</span>
        {% else %}
        <span class="like-button">🤍</span>
        {% endif%}
        <span class="like-count">{{ post.post_likes.count }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    foto_count = 0
    foto_index = 0
    image_index = 0
    count = 0
    change_photo_init();
    change_banner_init();
    console.log(count," despues de cargar el banner inicial ", image_index)
    image_url_list = ["https://i.picsum.photos/id/237/660/370.jpg?hmac=CuQ1IHxYkYQEGw57lbWDFyMhVWNDV7F8_b65hljLaYA",
      "https://cdn.wamiz.fr/article/images/ES%20PHOTOS/PERROS/pugpiscis.jpg",
      "https://www.bunko.pet/__export/1665511747848/sites/debate/img/2022/10/11/perro_signo_de_zodiaco.jpg_976912859.jpg",
      "https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg"]

    banner_url_list = ["https://media.istockphoto.com/id/1260122654/photo/autumn-landscape-beautiful-city-park-with-fallen-yellow-leaves.jpg?s=612x612&w=0&k=20&c=EVuX7Mp6nqzHaGijUPS98KpNsF6j_6Q4-vhmY9x8U-0=", 
      "https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909__340.jpg",
      "https://cdn.pixabay.com/photo/2016/09/22/10/44/banner-1686943_640.jpg"]

    const button_follow = document.querySelector("#follow-unfollow")
    if (button_follow != null) {
      button_follow.addEventListener('click', () => button_action('action'));
    }
    let number_of_followers = document.querySelector('#followers')
    let like_list = document.querySelectorAll('.like-button');
    for (let i = 0; i < like_list.length; i++) {
      like_list[i].addEventListener('click', () => toggle_like(i));
    }
    const change_image_button = document.querySelector("#change-image")
    if (change_image_button != null){
      change_image_button.addEventListener('click', () => change_banner('image'));
      document.querySelector('.contenedor-foto').addEventListener('click', () => change_photo('image'));
    }
  
  });

  function change_photo_init(){
    let index = 0
    let user_id = document.querySelector('#user-id')
    fetch(`/profile/photo/${user_id}`)
      .then(response => response.json())
      .then(object => {
        for (let i = 0; i < image_url_list.length; i++) {
          if (image_url_list[i] === object['url_photo']) {
             index = i
            break
          }
        }
        foto_count = index + 1
        foto_index = foto_count % 4
        div_photo = document.querySelector('.contenedor-foto')
        div_photo.setAttribute("style", `background-image: url(${object['url_photo']});`);
      });
  }

  function change_banner_init(){
    let index = 0
    let user_id = document.querySelector('#user-id')
    fetch(`/profile/banner/${user_id}`)
      .then(response => response.json())
      .then(object => {
        for (let i = 0; i < banner_url_list.length; i++) {
          if (banner_url_list[i] === object['url_banner']) {
             index = i
            console.log(" leyendo el banner", index)
            break
          }
        }
        console.log(index, "tiene valor?")
        count = index + 1
        image_index = count % 3
        console.log(count," despues de cargar el banner ", image_index)
        div_banner = document.querySelector('.contenedor-banner')
        div_banner.setAttribute("style", `background-image: url(${object['url_banner']});`);
      });
    
    
  }

  function change_banner(image) {
    let user_id = document.querySelector('#user-id')
    const div_banner = document.querySelector(".contenedor-banner")
    div_banner.setAttribute("style", `background-image: url(${banner_url_list[image_index]});`);
    fetch(`/profile/banner/${user_id}`, {
      method: 'POST',
      body: JSON.stringify({
        url_banner: banner_url_list[image_index],
      })
    })
    .then(response => response.json())
    .then(result => {
      console.log(result)
    });
    count++
    image_index = count % 3
  }

  function change_photo(image) {
    let user_id = document.querySelector('#user-id')
    const div_photo = document.querySelector(".contenedor-foto")
    div_photo.setAttribute("style", `background-image: url(${image_url_list[foto_index]});`);
    fetch(`/profile/photo/${user_id}`,{
      method: 'POST',      
      body: JSON.stringify({
        url_photo: image_url_list[foto_index],
      })
    })
    .then(response => response.json())
    .then(result => {
      console.log(result)
    });
    foto_count++
    foto_index = foto_count % 4
  }


  function button_action(action) {
    button_follow = document.querySelector("#follow-unfollow")
    if (button_follow != null && button_follow.innerHTML == 'Follow') {
      console.log('Follow')
      user_id = (document.querySelector('#user-id').value)
      fetch('network', {
        method: 'POST',
        body: JSON.stringify({
          following_user_id: user_id,
          action: 'Follow'
        })
      })
        .then(response => response.json())
        .then(result => {
          console.log(result)
          let number_of_followers = document.querySelector('#followers')
          if (number_of_followers != null){
            number_of_followers.innerHTML = result.number_of_followers
            button_follow.innerHTML = 'Unfollow'
          }
        });
    }
    else if (button_follow.innerHTML == 'Unfollow') {
      console.log('Unfollow')
      user_id = (document.querySelector('#user-id').value)
      fetch('network', {
        method: 'POST',
        body: JSON.stringify({
          following_user_id: user_id,
          action: 'Unfollow'
        })
      })
        .then(response => response.json())
        .then(result => {
          console.log(result)
          let number_of_followers = document.querySelector('#followers')
          if (number_of_followers != null){
            number_of_followers.innerHTML = result.number_of_followers
            button_follow.innerHTML = 'Follow'
          }
        });

      // location.reload()
    }

    else if (button_follow.innerHTML == 'Edit') {
      console.log('Edit')
    }
    // location.reload()

  }

  function toggle_like(i) {
    id_list = document.querySelectorAll('.post_id_list')
    post_id = id_list[i].value
    hearts = document.querySelectorAll('.like-button');
    like_count = document.querySelectorAll('.like-count')


    fetch(`/network/like/${post_id}`)
      .then(response => response.json())
      .then(object => {
        if (object['text'] === 'Like') {
          hearts[i].innerHTML = '❤'
          like_count[i].innerHTML = object['like_count']
        }
        else {
          hearts[i].innerHTML = '🤍'
          like_count[i].innerHTML = object['like_count']
        }
      });
  }
</script>
{% endblock %}