{% extends "network/layout.html" %}
{% load static %}
<!-- https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg -->
<!-- https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909__340.jpg -->
{% block body %}
  {% if user.is_authenticated %}
    <div class="contenedor-encabezado">
      <div class="contenedor-foto">
        <img class="imagen-foto" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg" alt="profile-picture">
      </div>
      <div class="contenedor-banner">
        <img class="imagen-banner" src="https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909__340.jpg" alt="banner-de-burbujas">  
      </div>
    </div>
    <div class="contenedor-cuerpo">
      <div class="contenedor-datos-usuario">
        @{{ user.username }} <br>
        Joined {{ month }} {{ year }} <br>
        <div class="contenedor-follow">
          <span><strong>{{ following }}</strong> Following</span> 
          <span><strong id="followers">{{ followers }}</strong> Followers</span>
        </div>
      </div>
      <input type="hidden" value="{{ user.id }}" id="user-id">
      <div class="contenedor-boton">
        {% if user.id == login_user.id %}
          <button type="button" class="btn btn-outline-primary">Edit</button>
        {% else %}
          <button type="button" class="btn btn-outline-primary">{{ option }}</button>
        {% endif %}
      </div>
    </div>
    <div class="contenedor-lista-posts">
      {% for post in posts %}
      <div class="contenedor-post-anterior">
        <div class="contenedor-usuario-post">
          {{ post.user.username }}
        </div>
        <div class="contenedor-edit">
          <a href="{% url 'index' %}" onclick="return false;">Edit</a>
        </div>
        <div class="contenedor-text-post">
          {{ post.text }} <br>
          {{ post.date_creation }}
        </div>
        <div class="contenedor-likes">likes 0</div>
        <div class="contenedor-comments-post">
          comments
        </div>
  
      </div>
      {% endfor %}
    </div>
  {% endif %}


{% endblock %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {

    button = document.querySelector("button")
    button.addEventListener('click', () => button_action('action'));
  });

 // fetch(`/network/${user_id}`)
      // .then(response => response.json())
      // .then(username => {
      //   // Print email
      //   console.log(username);
      // });

  function button_action(action) {
    if (button.innerHTML == 'Follow'){
      console.log('Follow')
      user_id = (document.querySelector('#user-id').value)
      fetch('network', {
        method: 'POST',
        body: JSON.stringify({
          following_user_id: user_id,
          action: 'Follow'
        })
      })
      .then(response => response.json())
      .then(result => {
      });
    }
    else if (button.innerHTML == 'Unfollow'){
      console.log('Unfollow')
      user_id = (document.querySelector('#user-id').value)
      fetch('network', {
        method: 'POST',
        body: JSON.stringify({
          following_user_id: user_id,
          action: 'Unfollow'
        })
      })
      .then(response => response.json())
      .then(result => {
      });
    }

    else if (button.innerHTML == 'Edit'){
      console.log('Edit')
    }
    location.reload()
  
  }
</script>
{% endblock %}