.contenedor-principal {
  margin: 0 10px;
  padding: 10px;
  /* background-color: rebeccapurple; */
}

.contenedor-post {
  border: 1px solid  #cfcfcf;
  border-radius: 7px;
  width: 700px;
  padding: 5px;
  margin-bottom: 10px;
}

.contenedor-post > h1 {
  font-size: 28px;
}

.contenedor-lista-posts {
  width: 700px;
  padding: 5px;
  margin-top: 10px;
}

.contenedor-post-anterior {
  margin-bottom: 20px;
  border: 1px solid  #cfcfcf;
  border-radius: 7px;
  padding-left: 10px;
}

.contenedor-datos-usuario {
  padding-left: 10px;
}

.contenedor-usuario-post {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-top: 5px;
  align-items: baseline;
}

/* estilo para profile.html */

.contenedor-encabezado{
  background-color: blue;
  display: flex;
  width: 685px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
}
.contenedor-foto {
  width:150px;
  height:150px;
  background-image: url( https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg);
  background-size:cover;
  background-position: -90px;
  border-radius: 50%;
}
.contenedor-banner {
  background-color: red;
  width: 70%;
  padding: 10px;
  display: flex;
  margin-left: 10px;
  justify-content: stretch;
}

.imagen-banner {
  width: 100%; 
}

.contenedor-cuerpo {
  /* background-color: pink; */
  display: flex;
  width: 685px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid  #cfcfcf;
  border-radius: 7px;

}

.contenedor-follow {
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin-top: 10px;
}

.contenedor-boton {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

