.contenedor-principal {
  margin: 0 10px;
  padding: 10px;
  /* background-color: rebeccapurple; */
}

.contenedor-post {
  border: 1px solid  #cfcfcf;
  border-radius: 7px;
  width: 700px;
  padding: 5px;
  margin-bottom: 10px;
}

.contenedor-post > h1 {
  font-size: 28px;
}

.contenedor-lista-posts {
  width: 700px;
  padding: 5px;
  margin-top: 10px;
}

.contenedor-post-anterior {
  margin-bottom: 20px;
  border: 1px solid  #cfcfcf;
  border-radius: 7px;
  padding-left: 10px;
}

.contenedor-datos-usuario {
  padding-left: 10px;
  width: 220px;
}

.contenedor-usuario-post {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-top: 5px;
  align-items: baseline;
}

/* estilo para profile.html */

.contenedor-encabezado{
  display: flex;
  width: 685px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
}
.contenedor-foto {
  width:150px;
  height:150px;
  background-size:cover;
  /* background-image: url( https://ichef.bbci.co.uk/news/660/cpsprodpb/48DD/production/_107435681_perro1.jpg);
  background-image: url( https://www.bunko.pet/__export/1665511747848/sites/debate/img/2022/10/11/perro_signo_de_zodiaco.jpg_976912859.jpg);
  background-image: url(https://cdn.wamiz.fr/article/images/ES%20PHOTOS/PERROS/pugpiscis.jpg);
  background-image: url(https://i.picsum.photos/id/237/660/370.jpg?hmac=CuQ1IHxYkYQEGw57lbWDFyMhVWNDV7F8_b65hljLaYA); */
  background-position: -90px;
  border-radius: 50%;
  margin-left: -10px;
}
.contenedor-banner {
  width: 500px;
  height: 150px;
  /* background-image: url( https://media.istockphoto.com/id/1260122654/photo/autumn-landscape-beautiful-city-park-with-fallen-yellow-leaves.jpg?s=612x612&w=0&k=20&c=EVuX7Mp6nqzHaGijUPS98KpNsF6j_6Q4-vhmY9x8U-0=); */
  background-size:cover;
  margin-right: 10px;
}

.imagen-banner {
  width: 100%; 
}

.contenedor-cuerpo {
  /* background-color: pink; */
  display: flex;
  width: 685px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.marco {
  border: 1px solid  #cfcfcf;
  border-radius: 7px;
  width: 690px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.contenedor-follow span {
  width: 100px;
}

.contenedor-boton {
  width: 280px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.change-image {
  margin-right: 20px;
  width: 130px;
}

.contenedor-follow {
  width: 200px;
  display: flex;
  justify-self: center;
  align-items: flex-start;
  margin-right: -95px;
  margin-top: 15px;
}
